.markdown-content h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown-content h2 {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown-content h3 {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown-content h4 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown-content p {
    margin-bottom: 1rem;
}

.markdown-content > ul {
    list-style: circle;
    margin: auto;
    padding: auto;
}

.markdown-content li {
    margin: auto;
    padding: auto;
}

.markdown-content table {
    border: 1px solid black;
}

.markdown-content th {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 8px;
}

.markdown-content td {
    padding: 8px;
    border: 1px solid black;
    
}